/Software_dental/build/
/Software_dental/nbproject/private/
/Software_dental/dist/
/Software_dental/build/classes/Model/ConexionPg.class
/Software_dental/src/Model/ConexionPg.java
/Software_dental/build/classes/software_dental/Software_dental.class
/Software_dental/src/Model/ConexionPg.java
/Software_dental/src/Model/ConexionPg.java
/Software_dental/.DS_Store
