/Software_dental/build/
/Software_dental/nbproject/private/
/Software_dental/dist/
/Software_dental/build/classes/Model/ConexionPg.class
/Software_dental/src/Model/ConexionPg.java
/Software_dental/build/classes/software_dental/Software_dental.class
/Software_dental/src/Model/ConexionPg.java
/Software_dental/src/Model/ConexionPg.java
/Software_dental/.DS_Store
/Users/slix0/Documents/GitHub/Dental_Software_M3A/.DS_Store
.DS_Store
.DS_Store
Software_dental/src/Model/ConexionPg.java
Software_dental/src/Model/ConexionPg.java
Software_dental/nbproject/private/private.properties
*.properties
Software_dental/src/Model/ConexionPg.java
Software_dental/src/Model/ConexionPg.java
Software_dental/nbproject/private/private.properties
Software_dental/src/Model/ConexionPg.java
Software_dental/src/Model/ConexionPg.java
